.weather-app {
  padding: 2rem 1rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 100%;

    font-size: 0.8rem;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
  }
}
