.city {
    font-size: 20px;
    text-align: center;
}

.date {
    font-size: 14px;
    text-align: center;
}

.city,
.date {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #fff;
}