.city {
  font-size: 20px;
  text-align: center;
}

.date {
  font-size: 14px;
  text-align: center;
}

.city,
.date {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #fff;
}

/* CSS @media Rule */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .city {
    font-size: 32px;
  }

  .date {
    font-size: 24px;
  } */
}
