.forecast {
  width: 100%;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.8rem;
  }

  &__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $color-white;

    .hour {
      background-color: $color-blue;
      width: 3.5rem;
      height: 7rem;
      padding: 0.5rem;
      border-radius: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      font-size: 0.75rem;
    }
  }
}
