*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    $color-blue-200 0%,
    $color-blue-250 100%
  );
  background-repeat: no-repeat;
}
