#weather-icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  fill: #fff;
}

.filter-white {
  filter: brightness(0) invert(1);
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%); */
}

/* CSS @media Rule */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* img {
    height: 150%;
    width: 150%;
  } */
}
