$color-black: #000;
$color-white: #fff;

// BACKGROUND
$color-background: lightblue;

// GRADIENTS
$color-gradient-50: #020111; // Jaguar Black
$color-gradient-100: #191621; // Cinder Black
$color-gradient-200: #20202c; // Charade Black
$color-gradient: #3a3a52; // Gun Powder Blue
$color-gradient: #191621; // Cinder Black
$color-gradient: #191621; // Cinder Black
$color-gradient: #191621; // Cinder Black
$color-gradient: #191621; // Cinder Black
$color-gradient-2400: #00000c; // Russian Black

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
