//* COLORS
$color-blue-200: hsl(197, 79%, 63%); //* Picton Blue
$color-blue-250: hsl(206, 65%, 40%); //* Matisse Blue
$color-blue-300: hsl(223, 93%, 60%); //* Dodger Blue

//* --- White-To-Gray
$color-white: hsl(0, 0%, 100%); //* White
$color-white-50: hsl(0, 0%, 95%); //* Concrete White
$color-white-100: hsl(0, 0%, 90%); //* Mercury White
$color-white-150: hsl(0, 0%, 81%); //* Alto White
$color-white-200: hsl(0, 0%, 80%); //* Silver White
$color-grey-250: hsl(0, 0%, 77%); //* Silver Grey
$color-grey-300: hsl(0, 0%, 70%); //* Nobel Grey
$color-grey-400: hsl(0, 0%, 60%); //* Dusty Grey
$color-grey-450: hsl(0, 2%, 55%); //* Grey
$color-grey-500: hsl(0, 0%, 50%); //* Grey
$color-grey-600: hsl(0, 0%, 40%); //* Dove Grey
$color-grey-650: hsl(0, 0%, 31%); //* Emperor Grey
$color-grey-700: hsl(0, 0%, 30%); //* Tundora Grey
$color-black-800: hsl(0, 0%, 20%); //* Mine Shaft Grey
$color-black-850: hsl(0, 0%, 15%); //* Mine Shaft Black
$color-black-900: hsl(0, 0%, 10%); //* Cod Grey
$color-black: hsl(0, 0%, 0%); //* Black

// BACKGROUND
$color-background: lightblue;

// FONT
$default-font-size: 1.6rem;
$font-primary: "Raleway", sans-serif;
$font-secondary: "Poppins", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
