#secondary-info {
  padding: 1em;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather-key {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 5px 0 5px 0;
  font-weight: 400;
}

.weather-value {
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
  #secondary-info {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #secondary-info {
    background-color: rgb(56, 48, 48);
    border-radius: 15px;
    width: 350px;
    height: 300px;
    margin: 0 auto;
  }
}
